In [1]:
name=input("enter your name")
id=input("enter your age")

enter your name Susom
enter your age 50

In [2]:
from random import seed
from random import randint
value=randint(100,1000)
print(value)

print(name,' Your Id is ', id ,' and number id ' ,value)
list=[name,id,value]
print(list)

799
Susom  Your Id is  50  and number id  799
['Susom', '50', 799]

In [3]:
#list
L=['India',1,5,'WB']
L

['India', 1, 5, 'WB']

In [17]:
#Nested List
NL=['India',1,5,'WB',['Garia',700084]]
NL

['India', 1, 5, 'WB', ['Garia', 700084]]

In [5]:
#Indexing of list
print(L[0])
print(NL[4])
print(NL[-1])
print(NL[4][0])
print(NL[-1][1])

India
['Garia', 700084]
['Garia', 700084]
Garia
700084

In [77]:
#slicing starting(including) : ending(excluding)
print(NL[1:4])
print(NL[-2]) # it gives you 2nd from last

[1, 5, 'Electronics']
5

In [7]:
#membership , whether value is in the list
l=[1,2,3,4,5]
print (1 in l)
print(9 in l)

True
False

In [76]:
#list concatenation
l1=['physics','chemistry']
l2=['math']
print(l1+l2)
l3=l2+l1[-1:]
print(l3)

['physics', 'chemistry', 'math']
['math', 'chemistry']

In [10]:
#Replace List element
l1[1]='electronics'
print(l1)

['physics', 'Electronics']

In [18]:
#List Extend
print(NL)
NL.extend(['Electronics','English','Statistics']) #it will treat each one as element
print(NL)

['India', 1, 5, 'WB', ['Garia', 700084]]
['India', 1, 5, 'WB', ['Garia', 700084], 'Electronics', 'English', 'Statistics']

In [19]:
#List Append
NL.append([2,3])  #it will treat whole one as element
print(NL)

['India', 1, 5, 'WB', ['Garia', 700084], 'Electronics', 'English', 'Statistics', [2, 3]]

In [20]:
#Delete List element
del NL[6]
print(NL)

['India', 1, 5, 'WB', ['Garia', 700084], 'Electronics', 'Statistics', [2, 3]]

In [21]:
#Delete List element in range
del NL[3:5]
print(NL)

['India', 1, 5, 'Electronics', 'Statistics', [2, 3]]

In [22]:
#pop
print(NL)
NL.pop() # removes last element of the list
print(NL)

['India', 1, 5, 'Electronics', 'Statistics', [2, 3]]
['India', 1, 5, 'Electronics', 'Statistics']

In [23]:
#remove
NL.remove('Statistics')
print(NL)

['India', 1, 5, 'Electronics']

In [27]:
#Sorting list
LS=[-6,5,7,9,2,4,20]
LS.sort()
print(LS)
LS.sort(reverse=True)
print(LS)

[-6, 2, 4, 5, 7, 9, 20]
[20, 9, 7, 5, 4, 2, -6]

#Difference between Sort and Sorted

In [33]:
# sort itself storts the element of the list itself
A=['D','C','A']
print(" Before sort of A" ,A)
B=A.sort()
print(" After sort of A" , A)
print(" After assignment of B" ,B)

 Before sort of A ['D', 'C', 'A']
 After sort of A ['A', 'C', 'D']
 After assignment of B None

In [36]:
# sorted does not storts the element of the list itself
A=['D','C','A']
print(" Before sort of A" ,A)
C=sorted(A)
print(" After sort of A" , A)
print(" After assignment of C" ,C)

 Before sort of A ['D', 'C', 'A']
 After sort of A ['D', 'C', 'A']
 After assignment of C ['A', 'C', 'D']

In [37]:
list_1=[2, 33, 222, 14, 25]
list_1[-5]

2

In [38]:
word = ['1','2','3','4'] 
word[ : ] = [ ] 
print(word)

[]

In [39]:
L = ['one','two','three', 'four', 'five', 'six']
print(sorted(L))
print (L)

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']

In [41]:
name=input("enter your name with _")
# Split the input string by underscore
parts = name.split('_')

first_name = parts[1]  # Second part is the first name
second_name = parts[0]  # First part is the second name
customer_code = parts[2]  # Third part is the customer code
print(first_name)
print(second_name)
print(customer_code)

enter your name with _ Susom_Bikash_Mukherjee

Bikash
Susom
Mukherjee

In [ ]:
input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]

In [44]:
input_list=input("enter your name with ,")
# Split the input string by underscore
input_list = input_list.split(',')

# Remove 'SPSS' if it exists in the list
if 'SPSS' in input_list:
    input_list.remove('SPSS')

# Append 'SPARK' to the list
input_list.append('SPARK')

# Print the modified list
print(input_list)

enter your name with , SAS,R,PYTHON,SPSS

['SAS', 'R', 'PYTHON', 'SPARK']

In [47]:
input_str=input("enter your name with ,") # Input String: Pythons syntax is easy to learn,Pythons syntax is very clear
# Join the list elements with ' & '
input_str = input_str.split(',')
string_1 = ' & '.join(input_str)

# Print the modified string
print(string_1)

enter your name with , Pythons syntax is easy to learn,Pythons syntax is very clear

Pythons syntax is easy to learn & Pythons syntax is very clear

In [49]:
#shadow copy
A=['Orange','Apple','Mango']
B=A
print("A before change",A)
print("B before change",B)
A[0]='Pineapple'
print("A after change",A)
print("B after change",B) #B also changed

A before change ['Orange', 'Apple', 'Mango']
B before change ['Orange', 'Apple', 'Mango']
A after change ['Pineapple', 'Apple', 'Mango']
B after change ['Pineapple', 'Apple', 'Mango']

In [51]:
# To overcome the above issue we need shadow copy
A=['Orange','Apple','Mango']
B=A[:]
print ("Before change ", A,B)
A[0]='Pineapple'
print ("After change ", A,B)

Before change  ['Orange', 'Apple', 'Mango'] ['Orange', 'Apple', 'Mango']
After change  ['Pineapple', 'Apple', 'Mango'] ['Orange', 'Apple', 'Mango']

In [55]:
## Tuples
T=(1,2,3)
print(T)
type(T)

(1, 2, 3)

tuple

In [56]:
T1=1,2,3,4
print(T1)
type(T1)

(1, 2, 3, 4)

tuple

In [108]:
T1=1,2,3,4,5,
print(T1)
type(T1)

(1, 2, 3, 4, 5)

tuple

In [61]:
#single value Tuple "," in the end
TS=1,  # a tuple
print(TS)
type(TS)

(1,)

tuple

In [62]:
TS1=1  # not a tuple
type(TS1)

int

In [63]:
TS1=(1) # not a tuple
type(TS1)

int

In [66]:
# Indexing a Tuple
t=('India',700084,1.23)
print(t)
print(t[1])
print(t[-1])

('India', 700084, 1.23)
700084
1.23

In [70]:
tuple = (2,3.2,4,5)
print(sum(tuple))
print(min(tuple))
print(max(tuple))

14.2
2
5

In [71]:
# Assignment can't be done in Tuple
x =(1,2,3)
x[2] = 5
print(x)

TypeError: 'tuple' object does not support item assignment

In [72]:
t = ("disco", 12, 4.5)

t[0][2]

's'

In [78]:
#Slicing Tuples
tuple = (2,3.2,4,5)
print(tuple[0:3])
print(tuple[-2])
print(tuple[-2:]) #last two

(2, 3.2, 4)
4
(4, 5)

In [79]:
#length
len(tuple)

4

In [82]:
#cancatenation of tuple
t1=(1,2,3,4)
t2=('A','B','C')
t3=t1+t2
print(t3)

(1, 2, 3, 4, 'A', 'B', 'C')

In [86]:
print(sum(t1))
print(min(t1))
print(max(t1))

10
1
4

In [91]:
#Immutability : is the key feature
t3=t1[0:3] + ("New Tuple",) + t2[1:]
print(t3)

(1, 2, 3, 'New Tuple', 'B', 'C')

In [96]:
#Sorting tuple
t=(9,5,2,8)
x=sorted(t) #note like List inplace sort is not available
print(x)

[2, 5, 8, 9]

In [99]:
#nested Tuple
t1=(1,2,3,4,5,('A','B'),6)
print(t1)
print(t1[5][1])

(1, 2, 3, 4, 5, ('A', 'B'), 6)
B

In [100]:
#Packing and Unpacking Tuple
t=(1,2,3,4,5)    # packing 
(a,b,c,d,e) = t  #Un-packing , number of elements should be same, esle error
print(c)

3

In [103]:
t=() # emply tuple
print(dir(t)) # to view all the methods of and object

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [107]:
t = (1, 2, 4, 3)
#print(t[4])
#t[3] = 5 
print(t[1:-4]) 
print(len(t))

()
4

In [110]:
import ast
import sys

# Read input from stdin
input_str=input("enter your name with ,")  #('Monty Python', 'British', 1969)
input_str = input_str.strip()

# Convert the string input into a tuple using ast.literal_eval
input_tuple = ast.literal_eval(input_str)

# Append 'Python' to the tuple
tuple_2 = input_tuple + ('Python',)

# Print the final tuple
print(tuple_2)

enter your name with , ('Monty Python', 'British', 1969)

('Monty Python', 'British', 1969, 'Python')

In [171]:
#Sets : does not allow duplicate and Indexing : It does fast searching and mutable
s={9,1,2,3,4,1,5,3,2}
print(s) # it will print distinct values only and in sorted order

{1, 2, 3, 4, 5, 9}

In [117]:
l=['a','b','c','d','a','a']  #duplicate values are there 
s1=set(l) #typecasting list into set and NO duplicate values
s1

{'a', 'b', 'c', 'd'}

In [120]:
a={1,6,3,'A'}
a.add('America')
print(a)
a.remove(6)
print(a)

{1, 3, 6, 'America', 'A'}
{1, 3, 'America', 'A'}

In [128]:
#set operations
a={1,2,3,4,5}
b={3,4,5,6,7,8}
print(a,b)
print(a|b) # Union
print(a&b) # Intersection , both a and b
print(a.intersection(b)) # Intersection by using method, both a and b
print(a-b) # Difference
print(a.difference(b)) # Difference # Intersection by using method
# symmetric difference : all values from both set but exclude the common
# combination of (a|b) - (a&b)
print(a ^ b) # all distinct values from both sets

{1, 2, 3, 4, 5} {3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{3, 4, 5}
{3, 4, 5}
{1, 2}
{1, 2}
{1, 2, 6, 7, 8}

In [129]:
nums = set([1,1,2,3,3,3,4])
print(len(nums))

4

In [133]:
#Dictonaries : It stores keys and values: keys are Unique and imutable but values are mutable and duplicate: 
d={"India":"INR" , "US":"USD", "UK":"EURO"}
print(d)
print(d["India"])
type(d)

{'India': 'INR', 'US': 'USD', 'UK': 'EURO'}
INR

dict

In [148]:
d = dict(a=1, b=2) 
print(d)
type(d)

{'a': 1, 'b': 2}

dict

In [145]:
# change/update the key value
d={"India":"INR" , "US":"USD", "UK":"EURO"}
d["US"] ="$"
print(d)
d={"India":"INR" , "US":"USD", "UK":"EURO"}
print(d)
d.update({"US":"$"})
print(d)

{'India': 'INR', 'US': '$', 'UK': 'EURO'}
{'India': 'INR', 'US': 'USD', 'UK': 'EURO'}
{'India': 'INR', 'US': '$', 'UK': 'EURO'}

In [138]:
#insert new key and valye
d={"India":"INR" , "US":"USD", "UK":"EURO"}
d["Japan"]="YEN"
print(d)
# Delete
del d["Japan"]
print(d)

{'India': 'INR', 'US': 'USD', 'UK': 'EURO', 'Japan': 'YEN'}
{'India': 'INR', 'US': 'USD', 'UK': 'EURO'}

In [169]:
# Sorting
d={"India":"INR" , "US":"USD", "UK":"EURO"}
print(d)
a=sorted(d)
print(a)

{'India': 'INR', 'US': 'USD', 'UK': 'EURO'}
['India', 'UK', 'US']

In [161]:
#extract all the values
print(d.values())
#extract all the keys
print(d.keys())

dict_values([['Shiva', 24, 'Product Lead'], ['Sonam', 28, 'Sr Manager'], ['Ansari', 29, 'Product Lead'], ['Huzefa', 32, 'Project Manager']])
dict_keys([104, 103, 101, 105])

In [166]:
input_dict= { 102:['Shiva', 24, 'Content Strategist'],104:['Udit',25,'Tech Lead'], 105:['Huzefa',32,'Project Manager' ]}
professions = input_dict[104][2]
print(professions)

Tech Lead

In [173]:
list_1 = ['red' , 'orange', 'blue', 'green', 'black', 'white']
print(list_1.sort())

None

In [ ]:
import sys

# Read input and clean the number by removing commas
n = sys.stdin.read().strip().replace(',', '')

# Convert to integer
num = int(n)

# Extract digits and check divisibility
happy = all(int(digit) != 0 and num % int(digit) == 0 for digit in n if digit.isdigit())

# Print result
print("Happy Number" if happy else "Sad Number")

In [ ]:
import sys

# Read input and parse it into a list of tuples
marks = eval(sys.stdin.read().strip())

# Sort the list based on Physics marks (second element in the tuple) in descending order
sorted_marks = sorted(marks, key=lambda x: x[1], reverse=True)

# Print the sorted list
print(sorted_marks)

In [ ]:
#Take input here
test_str = input()

max_length = 0
current_length = 0

# Iterate through the string to find the longest uppercase substring
for char in test_str:
    if char.isupper():  
        current_length += 1  
        max_length = max(max_length, current_length)  
    else:
        current_length = 0  # Reset count if a non-uppercase character is found

print(max_length)  # Print the length of the longest uppercase substring

In [ ]:
import ast

# Read input as a string and convert it into a list using ast.literal_eval
test_str = input()
scores = ast.literal_eval(test_str)  # Safely convert input string to list

# Check if the number of players exceeds 11
if len(scores) > 11:
    print(-1)
else:
    print(sum(scores))  # Print the total score if valid

In [ ]:
import ast

#Take input
input_list = ast.literal_eval(input())
K= int(input())

# Initialising a count variagble that tracks the number of elements in the list
# with length >k
count = 0

#Looping through the list and check the length of each element. Increase the count by 1 if the 
#length is greater than K
for i in input_list:
	if len(i)>=K:
	    count=count+1
	    
print(count)

In [ ]:
#Input has been taken for you
import ast
input_list = ast.literal_eval(input())
K = int(input())

#write the code

# Process the list: Increment numeric strings by K
output_list = [str(int(item) + K) if item.isdigit() else item for item in input_list]

# Print the updated list
print(output_list)

In [ ]:
#read the input using the ast sys
import ast

# Read input
input_list = ast.literal_eval(input())  # Convert input string to list
K = int(input())  # Read integer K

# Slice the list from the K-th position (0-based index, so use K-1)
output_list = input_list[K-1:]

# Print the updated list
print(output_list)

In [ ]:
import ast

# Read input
team_avg = ast.literal_eval(input())  # Convert input string to list
new_emp = ast.literal_eval(input())   # Convert input string to list

# Convert string elements to float
team_avg = [float(x) for x in team_avg]
new_emp = [float(x) for x in new_emp]

# Count how many parameters decrease the team's average
decreased_count = sum(1 for i in range(5) if new_emp[i] < team_avg[i])

# Decision based on the rule
if decreased_count > 2:
    print("Rejected")
else:
    print("Selected")

In [ ]:
#Take input here
#we will take input using ast sys
import ast
#reading the input dictionary
input_dictionary = input()
convert_dictionary = ast.literal_eval(input_dictionary)

#reading the input list
input_list = input()
convert_list = ast.literal_eval(input_list)

#Write code here
# Updating the dictionary with new main players
for club, new_player in convert_list:
    if club in convert_dictionary:
        convert_dictionary[club] = new_player

# Printing the updated dictionary
print(convert_dictionary)

In [ ]:
import ast

# Read input dictionaries
dict1 = ast.literal_eval(input())  # Convert input string to dictionary
dict2 = ast.literal_eval(input())  # Convert input string to dictionary

# Merge the dictionaries
merged_dict = {**dict1, **dict2}

# Print the merged dictionary
print(merged_dict)