##                                        2. Working_With_CSV_Data_Preparation_SBM_Note

In this assignment, you will try to find some interesting insights into a few movies released between 1916 and 2016, using Python. You will have to download a movie dataset, write Python code to explore the data, gain insights into the movies, actors, directors, and collections, and submit the code.

#### Some tips before starting the assignment

1. Identify the task to be performed correctly, and only then proceed to write the required code. Don’t perform any incorrect analysis or look for information that isn’t required for the assignment.
2. In some cases, the variable names have already been assigned, and you just need to write code against them. In other cases, the names to be given are mentioned in the instructions. We strongly advise you to use the mentioned names only.
3. Always keep inspecting your data frame after you have performed a particular set of operations.
4. There are some checkpoints given in the IPython notebook provided. They're just useful pieces of information you can use to check if the result you have obtained after performing a particular task is correct or not.
5. Note that you will be asked to refer to documentation for solving some of the questions. That is done on purpose for you to learn new commands and also how to use the documentation.

In [1]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

### Task 1: Reading and Inspection

**Subtask 1.1: Import and read**

Import and read the movie database. Store it in a variable called `movies`.

In [2]:
# Write your code for importing the csv file here
movies = pd.read_csv("Movies.csv", header = 0)
movies

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3848,Color,Shane Carruth,143.0,77.0,291.0,8.0,David Sullivan,291.0,424760.0,Drama|Sci-Fi|Thriller,...,371.0,English,USA,PG-13,7000.0,2004.0,45.0,7.0,1.85,19000
3849,Color,Neill Dela Llana,35.0,80.0,0.0,0.0,Edgar Tancangco,0.0,70071.0,Thriller,...,35.0,English,Philippines,Not Rated,7000.0,2005.0,0.0,6.3,NaN,74
3850,Color,Robert Rodriguez,56.0,81.0,0.0,6.0,Peter Marquardt,121.0,2040920.0,Action|Crime|Drama|Romance|Thriller,...,130.0,Spanish,USA,R,7000.0,1992.0,20.0,6.9,1.37,0
3851,Color,Edward Burns,14.0,95.0,0.0,133.0,Caitlin FitzGerald,296.0,4584.0,Comedy|Drama,...,14.0,English,USA,Not Rated,9000.0,2011.0,205.0,6.4,NaN,413
3852,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

**Subtask 1.2: Inspect the dataframe**

Inspect the dataframe's columns, shapes, variable types etc.

#### <font color='red'>Question 1: How many rows and columns are present in the dataframe? </font>
-  <font color='red'>(3821, 26)</font>
-  <font color='red'>(3879, 28)</font>
-  <font color='red'>(3853, 28)</font>
-  <font color='red'>(3866, 26)</font>

In [3]:
# Write your code for inspection here
movies.shape

(3853, 28)

#### <font color='red'>Question 2: How many columns have null values present in them? Try writing a code for this instead of counting them manually.</font>

-  <font color='red'>3</font>
-  <font color='red'>6</font>
-  <font color='red'>9</font>
-  <font color='red'>12</font>

In [4]:
movies.isnull().any().sum()

12

### Task 2: Cleaning the Data

**Subtask 2.1: Drop unecessary columns**

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [5]:
# Check the 'drop' function in the Pandas library - dataframe.drop(list_of_unnecessary_columns, axis = )
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of operations
columns_to_drop = [
    "color", "director_facebook_likes", "actor_1_facebook_likes", 
    "actor_2_facebook_likes", "actor_3_facebook_likes", "actor_2_name", 
    "cast_total_facebook_likes", "actor_3_name", "duration", 
    "facenumber_in_poster", "content_rating", "country", 
    "movie_imdb_link", "aspect_ratio", "plot_keywords"
]

# Creating a new DataFrame without the specified columns
new_movies = movies.drop(columns=columns_to_drop)

#### <font color='red'>Question 3: What is the count of columns in the new dataframe? </font>
-  <font color='red'>10</font>
-  <font color='red'>13</font>
-  <font color='red'>15</font>
-  <font color='red'>17</font>

In [6]:
new_movies.shape

(3853, 13)

In [7]:
new_movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237000000.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300000000.0,2007.0,7.1,0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245000000.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250000000.0,2012.0,8.5,164000
4,Andrew Stanton,462.0,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263700000.0,2012.0,6.6,24000

**Subtask 2.2: Inspect Null values**

As you have seen above, there are null values in multiple columns of the new dataframe of 'movies'. Find out the percentage of null values in each column of the new dataframe of 'movies'.

**# Count of non-null (non-NaN) values in each column**

In [8]:
new_movies.count()

director_name             3853
num_critic_for_reviews    3852
gross                     3853
genres                    3853
actor_1_name              3853
movie_title               3853
num_voted_users           3853
num_user_for_reviews      3853
language                  3849
budget                    3853
title_year                3853
imdb_score                3853
movie_facebook_likes      3853
dtype: int64

**# Count NaN values per column**

In [9]:
new_movies.isna().sum()

director_name             0
num_critic_for_reviews    1
gross                     0
genres                    0
actor_1_name              0
movie_title               0
num_voted_users           0
num_user_for_reviews      0
language                  4
budget                    0
title_year                0
imdb_score                0
movie_facebook_likes      0
dtype: int64

In [10]:
# Filling NaN values with 0 
new_movies.fillna(0, inplace=True) #inplace by default updates the data frame itself by the new indexed data frame 

# Now Take a NaN count
new_movies.isna().sum()  # All NaN removed

director_name             0
num_critic_for_reviews    0
gross                     0
genres                    0
actor_1_name              0
movie_title               0
num_voted_users           0
num_user_for_reviews      0
language                  0
budget                    0
title_year                0
imdb_score                0
movie_facebook_likes      0
dtype: int64

#### <font color='red'>Question 4: Which column has the highest percentage of null values? </font>
-  <font color='red'>language</font>
-  <font color='red'>genres</font>
-  <font color='red'>num_critic_for_reviews</font>
-  <font color='red'>imdb_score</font>

In [11]:
# Write you code here
# Calculate the percentage of null values for each column
null_percentages = (new_movies.isnull().sum() / len(new_movies)) * 100
# sort it
null_percentages_sorted = null_percentages.sort_values(ascending=False)

# Print the result
print(null_percentages_sorted)

director_name             0.0
num_critic_for_reviews    0.0
gross                     0.0
genres                    0.0
actor_1_name              0.0
movie_title               0.0
num_voted_users           0.0
num_user_for_reviews      0.0
language                  0.0
budget                    0.0
title_year                0.0
imdb_score                0.0
movie_facebook_likes      0.0
dtype: float64

**Subtask 2.3: Fill NaN values**

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [12]:
# Write your code for filling the NaN values in the 'language' column here
new_movies["language"] = new_movies["language"].fillna("English")

#### <font color='red'>Question 5: What is the count of movies made in English language after replacing the NaN values with English? </font>
-  <font color='red'>3670</font>
-  <font color='red'>3674</font>
-  <font color='red'>3668</font>
-  <font color='red'>3672</font>

In [13]:
new_movies_eng = new_movies[new_movies["language"] == "English" ]
len(new_movies_eng)

3671

In [14]:
movies.loc[pd.isnull(movies['language']), ['language']] = 'English'
(movies.language == 'English').sum()

3675

### Task 3: Data Analysis

**Subtask 3.1: Change the unit of columns**

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [15]:
# Write your code for unit conversion here
movies["budget"] = movies["budget"]/1000000

In [16]:
movies["gross"] = movies["gross"]/1000000

In [17]:
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760.505847,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309.404152,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200.074175,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448.130642,Action|Thriller,...,2701.0,English,USA,PG-13,250.0,2012.0,23000.0,8.5,2.35,164000
4,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73.058679,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263.7,2012.0,632.0,6.6,2.35,24000

**Find Unique Values of a Column**

In [18]:
movies['actor_1_name'].unique() # Return Unique Actor Name

array(['CCH Pounder', 'Johnny Depp', 'Christoph Waltz', ...,
       'Carlos Gallardo', 'Kerry Bishé', 'John August'], dtype=object)

**Find the Count of Unique Value of a column**

In [19]:
movies['actor_1_name'].nunique() # Return the Count of Unique Actor Name

1508

**Find the Frequency/Repeatation of occurrance of a Value of a column**

In [20]:
movies['actor_1_name'].value_counts() # Frequency (Repeatation) count of column values

actor_1_name
Robert De Niro               42
Johnny Depp                  38
J.K. Simmons                 31
Denzel Washington            30
Nicolas Cage                 30
                             ..
Martin Dew                    1
Chriss Anglin                 1
Kevin Alejandro               1
Catherine Lough Haggquist     1
John August                   1
Name: count, Length: 1508, dtype: int64

**Remove Duplicate Row**

In [21]:
movies.drop_duplicates(inplace=True) #inplace by default updates the data frame itself by the new indexed data frame

**Subtask 3.2: Find the movies with highest profit**

   1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
   2. Sort the dataframe using the `profit` column as reference. (Find which command can be used here to sort entries from the documentation)
   3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [22]:
# Write your code for creating the profit column here
movies["profit"] = movies["gross"] - movies["budget"]

In [23]:
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,profit
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760.505847,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237.0,2009.0,936.0,7.9,1.78,33000,523.505847
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309.404152,Action|Adventure|Fantasy,...,English,USA,PG-13,300.0,2007.0,5000.0,7.1,2.35,0,9.404152
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200.074175,Action|Adventure|Thriller,...,English,UK,PG-13,245.0,2015.0,393.0,6.8,2.35,85000,-44.925825
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448.130642,Action|Thriller,...,English,USA,PG-13,250.0,2012.0,23000.0,8.5,2.35,164000,198.130642
4,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73.058679,Action|Adventure|Sci-Fi,...,English,USA,PG-13,263.7,2012.0,632.0,6.6,2.35,24000,-190.641321

In [24]:
print(movies.columns)

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes', 'profit'],
      dtype='object')

**Checkpoint:** You might spot two movies directed by `James Cameron` in the list.

# <font color='red'>Sorting Data </font>
#### <font color='red'>Question 6: Which movie is ranked 5th from the top in the list obtained? </font>
-  <font color='red'>E.T. the Extra-Terrestrial</font>
-  <font color='red'>The Avengers</font>
-  <font color='red'>The Dark Knight</font>
-  <font color='red'>Titanic</font>

In [25]:
# Write your code for sorting the dataframe here
movies_sorted  = movies.sort_values('profit', ascending = False)   # can also use sort_values(by='profit')
movies_sorted.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,profit
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760.505847,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237.0,2009.0,936.0,7.9,1.78,33000,523.505847
28,Color,Colin Trevorrow,644.0,124.0,365.0,1000.0,Judy Greer,3000.0,652.177271,Action|Adventure|Sci-Fi|Thriller,...,English,USA,PG-13,150.0,2015.0,2000.0,7.0,2.00,150000,502.177271
25,Color,James Cameron,315.0,194.0,0.0,794.0,Kate Winslet,29000.0,658.672302,Drama|Romance,...,English,USA,PG-13,200.0,1997.0,14000.0,7.7,2.35,26000,458.672302
2704,Color,George Lucas,282.0,125.0,0.0,504.0,Peter Cushing,11000.0,460.935665,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG,11.0,1977.0,1000.0,8.7,2.35,33000,449.935665
2748,Color,Steven Spielberg,215.0,120.0,14000.0,548.0,Dee Wallace,861.0,434.949459,Family|Sci-Fi,...,English,USA,PG,10.5,1982.0,725.0,7.9,1.85,34000,424.449459

#### <font color='red'>See Indexes are messed up above 0,23,25..To solve this issue use ignore_index </font>

### descending order

In [28]:
#movies = pd.read_csv("Movies.csv", header = 0)
print(movies_sorted.columns)
movies_sorted.sort_values('profit', ascending=False, ignore_index=True)   # can also use sort_values(by='profit')

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes', 'profit'],
      dtype='object')

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,profit
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760.505847,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237.000000,2009.0,936.0,7.9,1.78,33000,523.505847
1,Color,Colin Trevorrow,644.0,124.0,365.0,1000.0,Judy Greer,3000.0,652.177271,Action|Adventure|Sci-Fi|Thriller,...,English,USA,PG-13,150.000000,2015.0,2000.0,7.0,2.00,150000,502.177271
2,Color,James Cameron,315.0,194.0,0.0,794.0,Kate Winslet,29000.0,658.672302,Drama|Romance,...,English,USA,PG-13,200.000000,1997.0,14000.0,7.7,2.35,26000,458.672302
3,Color,George Lucas,282.0,125.0,0.0,504.0,Peter Cushing,11000.0,460.935665,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG,11.000000,1977.0,1000.0,8.7,2.35,33000,449.935665
4,Color,Steven Spielberg,215.0,120.0,14000.0,548.0,Dee Wallace,861.0,434.949459,Family|Sci-Fi,...,English,USA,PG,10.500000,1982.0,725.0,7.9,1.85,34000,424.449459
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3848,Color,Katsuhiro Ôtomo,105.0,103.0,78.0,101.0,Robin Atkin Downes,488.0,0.410388,Action|Adventure|Animation|Family|Sci-Fi|Thriller,...,Japanese,Japan,PG-13,2127.519898,2004.0,336.0,6.9,1.85,973,-2127.109510
3849,Color,Hayao Miyazaki,174.0,134.0,6000.0,745.0,Jada Pinkett Smith,893.0,2.298191,Adventure|Animation|Fantasy,...,Japanese,Japan,PG-13,2400.000000,1997.0,851.0,8.4,1.85,11000,-2397.701809
3850,Color,Lajos Koltai,73.0,134.0,45.0,0.0,Péter Fancsikai,9.0,0.195888,Drama|Romance|War,...,Hungarian,Hungary,R,2500.000000,2005.0,2.0,7.1,2.35,607,-2499.804112
3851,Color,Chan-wook Park,202.0,112.0,0.0,38.0,Yeong-ae Lee,717.0,0.211667,Crime|Drama,...,Korean,South Korea,R,4200.000000,2005.0,126.0,7.7,2.35,4000,-4199.788333
3852,Color,Joon-ho Bong,363.0,110.0,584.0,74.0,Kang-ho Song,629.0,2.201412,Comedy|Drama|Horror|Sci-Fi,...,Korean,South Korea,R,12215.500000,2006.0,398.0,7.0,1.85,7000,-12213.298588

In [29]:
fifth_highest_movie = movies_sorted.iloc[4]['movie_title']         # Get the 5th highest movie title (index 4)
print(fifth_highest_movie)

E.T. the Extra-Terrestrial

### ascending order

In [43]:
movies_sorted.sort_values('profit', ascending=True, ignore_index=True)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,profit
0,Color,Joon-ho Bong,363.0,110.0,584.0,74.0,Kang-ho Song,629.0,2.201412,Comedy|Drama|Horror|Sci-Fi,...,Korean,South Korea,R,12215.500000,2006.0,398.0,7.0,1.85,7000,-12213.298588
1,Color,Chan-wook Park,202.0,112.0,0.0,38.0,Yeong-ae Lee,717.0,0.211667,Crime|Drama,...,Korean,South Korea,R,4200.000000,2005.0,126.0,7.7,2.35,4000,-4199.788333
2,Color,Lajos Koltai,73.0,134.0,45.0,0.0,Péter Fancsikai,9.0,0.195888,Drama|Romance|War,...,Hungarian,Hungary,R,2500.000000,2005.0,2.0,7.1,2.35,607,-2499.804112
3,Color,Hayao Miyazaki,174.0,134.0,6000.0,745.0,Jada Pinkett Smith,893.0,2.298191,Adventure|Animation|Fantasy,...,Japanese,Japan,PG-13,2400.000000,1997.0,851.0,8.4,1.85,11000,-2397.701809
4,Color,Katsuhiro Ôtomo,105.0,103.0,78.0,101.0,Robin Atkin Downes,488.0,0.410388,Action|Adventure|Animation|Family|Sci-Fi|Thriller,...,Japanese,Japan,PG-13,2127.519898,2004.0,336.0,6.9,1.85,973,-2127.109510
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3848,Color,Steven Spielberg,215.0,120.0,14000.0,548.0,Dee Wallace,861.0,434.949459,Family|Sci-Fi,...,English,USA,PG,10.500000,1982.0,725.0,7.9,1.85,34000,424.449459
3849,Color,George Lucas,282.0,125.0,0.0,504.0,Peter Cushing,11000.0,460.935665,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG,11.000000,1977.0,1000.0,8.7,2.35,33000,449.935665
3850,Color,James Cameron,315.0,194.0,0.0,794.0,Kate Winslet,29000.0,658.672302,Drama|Romance,...,English,USA,PG-13,200.000000,1997.0,14000.0,7.7,2.35,26000,458.672302
3851,Color,Colin Trevorrow,644.0,124.0,365.0,1000.0,Judy Greer,3000.0,652.177271,Action|Adventure|Sci-Fi|Thriller,...,English,USA,PG-13,150.000000,2015.0,2000.0,7.0,2.00,150000,502.177271
3852,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760.505847,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237.000000,2009.0,936.0,7.9,1.78,33000,523.505847

**Subtask 3.3: Find IMDb Top 250**

Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000. 

Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.

In [30]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
# and name that dataframe as 'IMDb_Top_250'
import pandas as pd

# Filter movies with num_voted_users > 25,000
filtered_movies = movies[movies["num_voted_users"] > 25000]

# Select the top 250 movies with the highest IMDb score
IMDb_Top_250 = filtered_movies.sort_values("imdb_score", ascending=False).head(250)

# Add a Rank column
IMDb_Top_250["Rank"] = range(1, 251)

# Display the top 5 rows
print(IMDb_Top_250.head())

      color         director_name  num_critic_for_reviews  duration  \
1795  Color        Frank Darabont                   199.0     142.0
3016  Color  Francis Ford Coppola                   208.0     175.0
64    Color     Christopher Nolan                   645.0     152.0
2543  Color  Francis Ford Coppola                   149.0     220.0
325   Color         Peter Jackson                   328.0     192.0

      director_facebook_likes  actor_3_facebook_likes    actor_2_name  \
1795                      0.0                   461.0  Jeffrey DeMunn
3016                      0.0                  3000.0   Marlon Brando
64                    22000.0                 11000.0    Heath Ledger
2543                      0.0                  3000.0       Al Pacino
325                       0.0                   416.0      Billy Boyd

      actor_1_facebook_likes        gross                          genres  \
1795                 11000.0   28341469.0                     Crime|Drama
3016                 14000.0  134821952.0                     Crime|Drama
64                   23000.0  533316061.0     Action|Crime|Drama|Thriller
2543                 22000.0   57300000.0                     Crime|Drama
325                   5000.0  377019252.0  Action|Adventure|Drama|Fantasy

      ... language country  content_rating       budget title_year  \
1795  ...  English     USA               R   25000000.0     1994.0
3016  ...  English     USA               R    6000000.0     1972.0
64    ...  English     USA           PG-13  185000000.0     2008.0
2543  ...  English     USA               R   13000000.0     1974.0
325   ...  English     USA           PG-13   94000000.0     2003.0

      actor_2_facebook_likes imdb_score aspect_ratio  movie_facebook_likes  \
1795                   745.0        9.3         1.85                108000
3016                 10000.0        9.2         1.85                 43000
64                   13000.0        9.0         2.35                 37000
2543                 14000.0        9.0         1.85                 14000
325                    857.0        8.9         2.35                 16000

     Rank
1795    1
3016    2
64      3
2543    4
325     5

[5 rows x 29 columns]

#### <font color='red'>Question 7: Suppose movies are divided into 5 buckets based on the IMDb ratings: </font>
-  <font color='red'>7.5 to 8</font>
-  <font color='red'>8 to 8.5</font>
-  <font color='red'>8.5 to 9</font>
-  <font color='red'>9 to 9.5</font>
-  <font color='red'>9.5 to 10</font>

<font color = 'red'> Which bucket holds the maximum number of movies from *IMDb_Top_250*? </font>

In [31]:
import pandas as pd

# Define the IMDb rating buckets
bins = [7.5, 8, 8.5, 9, 9.5, 10]
labels = ["[7.5, 8)", "[8, 8.5)", "[8.5, 9)", "[9, 9.5)", "[9.5, 10)"]

# Categorize movies into bins
IMDb_Top_250["Rating_Bucket"] = pd.cut(IMDb_Top_250["imdb_score"], bins=bins, labels=labels, right=False)

# Count movies in each bucket
bucket_counts = IMDb_Top_250["Rating_Bucket"].value_counts()

# Print the bucket with the maximum number of movies
max_bucket = bucket_counts.idxmax()
max_count = bucket_counts.max()

print(f"The bucket {max_bucket} holds the maximum number of movies with a count of {max_count}.")

The bucket [8, 8.5) holds the maximum number of movies with a count of 159.

**Subtask 3.4: Find the critic-favorite and audience-favorite actors**

   1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
   2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
   3. Group the combined dataframe using the `actor_1_name` column.
   4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

#### <font color='red'>Creating multiple dataframe from one : Slicing Rows based on condition: </font>

In [32]:
# Write your code for creating three new dataframes here
Meryl_Streep = movies[movies["actor_1_name"] == "Meryl Streep"] # Include all movies in which Meryl_Streep is the lead

In [33]:
Leo_Caprio = movies[movies["actor_1_name"] == "Leonardo DiCaprio"] # Include all movies in which Leo_Caprio is the lead

In [34]:
Brad_Pitt = movies[movies["actor_1_name"] == "Brad Pitt"] # Include all movies in which Brad_Pitt is the lead

In [35]:
print("Meryl Streep Movies:\n", Meryl_Streep.shape)      # rows : 11 ; column : 29
print("Leonardo DiCaprio Movies:\n", Leo_Caprio.shape)   # rows : 21 ; column : 29
print("Brad Pitt Movies:\n", Brad_Pitt.shape)            # rows : 17 ; column : 29

Meryl Streep Movies:
 (11, 28)
Leonardo DiCaprio Movies:
 (21, 28)
Brad Pitt Movies:
 (17, 28)

# <font color='red'>Concatinating/Appending multiple dataframe row wise: </font>

In [36]:
# Write your code for combining the three dataframes here
# Combine the three DataFrames into one
combined_df = pd.concat([Meryl_Streep, Leo_Caprio, Brad_Pitt], ignore_index=True)

# Display the combined DataFrame
combined_df.shape    # rows : 49 (11+21+17) ; column : 29

(49, 28)

In [37]:
# Write your code for combining the three dataframes here
# Combine the three DataFrames into one
combined_df_c = pd.concat([Meryl_Streep, Leo_Caprio, Brad_Pitt],  axis=1)

# Display the combined DataFrame
print(combined_df_c.shape)  # rows : 49 ; column : 87 (29 * 3)
combined_df_c.head()

(49, 84)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
392,Color,Nancy Meyers,187.0,120.0,278.0,963.0,Hunter Parrish,11000.0,112703470.0,Comedy|Drama|Romance,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1038,Color,Curtis Hanson,42.0,111.0,161.0,132.0,Glenn Morshower,11000.0,46815748.0,Action|Adventure|Crime|Thriller,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1132,Color,Nora Ephron,252.0,123.0,0.0,923.0,Mary Lynn Rajskub,11000.0,94125426.0,Biography|Drama|Romance,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322,Color,David Frankel,208.0,109.0,64.0,505.0,Anne Hathaway,11000.0,124732962.0,Comedy|Drama|Romance,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1390,Color,Robert Redford,227.0,92.0,0.0,10000.0,Tom Cruise,11000.0,14998070.0,Drama|Thriller|War,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# <font color='red'>Group By </font>

In [38]:
# Write your code for grouping the combined dataframe here

# Group by actor name and calculate mean for num_critic_for_reviews and duration
grouped_mean_df = combined_df.groupby("actor_1_name")[["num_critic_for_reviews", "duration"]].mean().reset_index()

# Sort by num_critic_for_reviews in descending order
sorted_df = grouped_mean_df.sort_values(by="num_critic_for_reviews", ascending=False)

# Display the sorted DataFrame
print(sorted_df)

        actor_1_name  num_critic_for_reviews    duration
1  Leonardo DiCaprio              330.190476  148.000000
0          Brad Pitt              245.000000  132.588235
2       Meryl Streep              181.454545  115.181818

In [39]:
# Write the code for finding the mean of critic reviews and audience reviews here
# Group by actor_1_name and calculate the mean of num_critic_for_reviews and num_user_for_reviews
grouped_mean_df = combined_df.groupby("actor_1_name")[["num_critic_for_reviews", "num_user_for_reviews"]].mean()

# Display the result
print(grouped_mean_df)

                   num_critic_for_reviews  num_user_for_reviews
actor_1_name
Brad Pitt                      245.000000            742.352941
Leonardo DiCaprio              330.190476            914.476190
Meryl Streep                   181.454545            297.181818

#### <font color='red'>Question 8: Which actor is highest rated among the three actors according to the user reviews? </font>
-  <font color='red'>Meryl Streep</font>
-  <font color='red'>Leonardo DiCaprio</font>
-  <font color='red'>Brad Pitt</font>

#### <font color='red'>Question 9: Which actor is highest rated among the three actors according to the critics?</font>
-  <font color='red'>Meryl Streep</font>
-  <font color='red'>Leonardo DiCaprio</font>
-  <font color='red'>Brad Pitt</font>

In [40]:
# There are two columns 'actor_1_facebook_likes' and 'actor_2_facebook_likes' which have quite a few missing values but since you have 
# less data points, you don't want to drop many of them. For a hypothetical analysis that you're conducting, it will be okay if one of 
# them has a missing value but you can't afford to have both missing values. So your aim here is to find the indices of the rows in which 
# both of these columns have missing values simultaneously.
#Expected Output:
#- First print the indices of the rows where both these columns have missing values. The print statement has been provided in the stub. You just need to fill it. 
#- After you have printed the above indices, drop these particular rows and print the number of retained rows in the dataframe.
# Importing the pandas package

import pandas as pd 

# Reading the dataframe
movies = pd.read_csv('https://query.data.world/s/lqdline2c7rnci4bf4dwjsok6d26jd')

# Print out the indices of the rows in which both these columns have missing values
# as a list
#print(list(# Write your code here))

# Find the indices where both columns have missing values
missing_indices = movies[(movies["actor_1_facebook_likes"].isna()) & (movies["actor_2_facebook_likes"].isna())].index

# Find out the indices of the rows in which both these columns have missing values

missing_indices = movies[(movies["actor_1_facebook_likes"].isna()) & (movies["actor_2_facebook_likes"].isna())].index
print(list(missing_indices))


# Drop these rows
movies = movies.drop(index=missing_indices)

# Print the number of remaining rows
print(movies.shape[0])

[4502, 4519, 4720, 4837, 4945, 4946, 4990]
5036

In [41]:
# Renaming the column in Initcap
# Importing the pandas package
import pandas as pd

# Reading the dataframe
df = pd.read_csv('https://kh-prod-codelabs.s3.ap-south-1.amazonaws.com/heart-2c1d619e8c1a4e8087742a43948e2cf2.csv')

# Capitalizing the Column name
df.columns = df.columns.str.capitalize()

# Printing the final columns. Do not edit this part.
print(df.columns)

Index(['Age', 'Sex', 'Cp', 'Trestbps', 'Chol', 'Fbs', 'Restecg', 'Thalach',
       'Exang', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'Target'],
      dtype='object')

In [42]:
#There are a lot of columns that aren't visible. But you might have noticed straight away that there are quite a few missing values in the data frame. 
#Two columns for instance, 'aspect_ratio' and 'facenumber_in_poster' also have a few missing values(NaN). Now, replace the missing values with the 
#'median' value of the respective columns and print the null value count for both.
#Expected Output: First print the number of missing values in both of these columns, then output the median in both the columns and then impute the 
#missing values with the respective medians and print the count of missing values again. Store all of these in a dictionary format like the following:
#{'aspect_ratio_mv': 431, 'facenumber_in_poster_mv': 97}
#{'aspect_ratio_median: 1.44, 'facenumber_in_poster': 2.0}
#{'aspect_ratio_final': 0, 'facenumber_in_poster_final': 0}

# Importing the pandas package
import pandas as pd 

# Reading the movies dataframe
movies = pd.read_csv('https://query.data.world/s/zlr77ctyxez3kv6zqn6nn5six42cfq')

# Your aim is to complete the following three print statements after all the colons

# Get the null value counts in both the columns
aspect_ratio_mv = movies['aspect_ratio'].isnull().sum()
facenumber_in_poster_mv = movies['facenumber_in_poster'].isnull().sum()

# Complete the first dictionary
mv = {'aspect_ratio_mv': aspect_ratio_mv, 'facenumber_in_poster_mv': facenumber_in_poster_mv}

# Get the median of both the columns
aspect_ratio_median = movies['aspect_ratio'].median()
facenumber_in_poster_median = movies['facenumber_in_poster'].median()

# Complete the second dictionary
median = {'aspect_ratio_median': aspect_ratio_median, 'facenumber_in_poster_median': facenumber_in_poster_median}

movies.loc[pd.isnull(movies['aspect_ratio']), ['aspect_ratio']] = movies['aspect_ratio'].median()
movies.loc[pd.isnull(movies['facenumber_in_poster']), ['facenumber_in_poster']] = movies['facenumber_in_poster'].median()

# Get the final null value count of both the columns
aspect_ratio_final = movies['aspect_ratio'].isnull().sum()
facenumber_in_poster_final = movies['facenumber_in_poster'].isnull().sum()

# Complete the third dictionary
final = {'aspect_ratio_final': aspect_ratio_final, 'facenumber_in_poster_final': facenumber_in_poster_final}

# Printing the values in the three dictionaries. Please do not edit this part
print(sorted(mv.values()))
print(sorted(median.values()))
print(sorted(final.values()))

[13, 329]
[1.0, 2.35]
[0, 0]

In [1]:
# check installed Anaconda 32/54 bit
import struct
print(struct.calcsize("P") * 8)

64