# Control Structures and Functions
Control structures are the essence of programming; they help computers do what they do best: automate repetitive tasks intelligently. The most common control structures are if-else statements, for and while loops, and list and dictionary comprehensions. This session will cover all these concepts.

### If statements
"IF" statements are imperative in Python and they help us build programs that could make decisions based on a specified condition


*   If I am tired, I'll go to bed

*   If I am hungry, I'll order food

Notice all these applications start with the word 'IF' and that is the first way we are going to control our applications.

And before writing down a code to mimic a decision, let us first look at the relational operators that would help us test or define some kind of relation between two entities.

Relational operators are used to test equality or inequality of a condition and that condition might change based on your preference.

```
Example -
If its raining == True:
  I'll get an umbrella

```

<h2 style = "color:Brown"> Relational Operators</h2>

- Compares the values on either side of the operator and returns and boolean value as True or False.

#### Double equal to operator

In [ ]:
10 == 10

<h4 style = "color:Red">Note</h3>

#####' = ' is an assignment operator; it is used to assign value to a variable on the left.

#####'==' is a relational operator; it is used for comparision of equality.

In [ ]:
10 == 5

#### Not equal to operator

In [ ]:
10 != 5

#### Greater than operator

In [ ]:
10 > 5

#### Less than operator

In [ ]:
10 < 5

#### Greater than equal to operator

In [ ]:
10 <= 5

#### Less than equal to operator

In [ ]:
10 >= 5

<h2 style = "color:Brown">Decision Making

Now let's get back to writing a conditional statement with the 'if' condition

To do that we would write it 'if' followed by an expression

#### Write a program to check value in variable x is less than 99

In [ ]:
x = 45

if x < 99:
    print(x, "is less than 99")
else:
    print(x, "is more than 99")

45 is less than 99

In [ ]:
x = 919

if x < 99:
    print(x, "is less than equal to 99")
elif x == 99:
    print(x, "is equal to 99")
else:
    print(x, " is more than 99")

919  is more than 99

## Logical Operators
We use logical operators in situations where we have multiple conditions

####   AND
####   OR
####   NOR
####   XOR

Are some of the common and most widely used logical operators
You can learn more about them from this link: https://pythonlessons.net/python-logic-gates/

#### Write a program to record the age of visitor and allows him to an exclusive children's day party hosted by Mr Obama only if he or she is above 60 years or below 18 years of age

In [ ]:
x = int(input("Enter your age : "))

if x <= 18 or x >= 60 :
    print("Welcome to Party!!")
else:
    print("Sorry!! you do not fit in the age criteria")

#### Write a program which offers various discounts based on purchase bills

In [1]:
shoppinng_total = 550
if shoppinng_total >= 500:
    print("You won a discount voucher of flat 1000 on next purchase")
elif shoppinng_total >= 250:
    print("You won a discount voucher of flat 500 on next purchase")
elif shoppinng_total >= 100:
    print("You won a discount voucher of flat 100 on next purchase")    
else:
    print("OOPS!! no discount for you!!!")

You won a discount voucher of flat 500 on next purchase

#### Example on nested if-else

In [3]:
world_cups = {2019 : ['England', 'New Zealand'], 2015:["Australia", "New Zealand"], 2011 : ["India", "Sri Lanka"], 2007: ["Australia", "Sri Lanka"], 2003: ["Australia", "India"]}
world_cups[2019]

['England', 'New Zealand']

In [2]:
world_cups = {2019 : ['England', 'New Zealand'], 2015:["Australia", "New Zealand"], 2011 : ["India", "Sri Lanka"], 2007: ["Australia", "Sri Lanka"], 2003: ["Australia", "India"]}

year = int(input("Enter year to check New Zealand made it to Finals in 20th century : "))

if year in world_cups :
    if "New Zealand" in world_cups[year] :
        print("New Zealand made it to Finals")
    else:
        print("New Zealand could not make it to Finals")
else:
    print("World cup wasn't played in", year)

Enter year to check New Zealand made it to Finals in 20th century :  100

World cup wasn't played in 100

In [5]:
X = 12
if (X > 10 & X < 15):
  print('YES')
else:
  print('No')

YES

<h2 style = "color:Brown">Loops and Iterations

Let’s look at a small example where you have a person’s income and expense data across five months in the form of a list, and you want to compute his savings across these five months. You may be thinking of doing this manually by taking the first elements from the two lists and subtracting them, then again taking the second elements and subtracting, and so on. This may look simple, but let’s say it is across 10 or 20 years. Would you do the same? 

 

This is where the concept of iteration comes in handy, as you are repeating the same operation multiple times. With this in mind, let’s learn more about it.

Let's start with a simple 'While' loop - 
##### A while loop begins with a keyword 'While' followed by an expression 
##### So While this condition is satisfied keep running the loop

In [ ]:
# Let's create a pin checker which we generally have in our phones or ATMs
pin = input("Enter your four digit pin: ")
while pin != '1234':
    pin = input('Invalid input, please try again: ')  
print("Pin validation successful.")

Enter your four digit pin: 1234
Welcome

In [ ]:
# Now if we want to add a maximum number of tries allowed condition we'll use the if loop

import sys    #required for exiting the code and displaying an error

pin = input("Enter your four digit pin: ")
attempt_count = 1
while pin != '1234':
    if attempt_count >= 3:
     sys.exit("Too many invalid attempts")   #error code
    pin = input('Invalid input, please try again: ')  
    attempt_count += 1
print("Pin validation successful.")

Enter your four digit pin: 1111
Invalid input, please try again: 2222
Invalid input, please try again: 3456

SystemExit: ignored

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2890: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [ ]:
# iterate over list of integers

l = [1,3,4,2,5,6]
for i in l : 
    print(i)

In [ ]:
# iterate over a string

string = "New York"
for ch in string:
    print(ch)

In [6]:
# iterate over a string - modify print using end

string = "New York"
for ch in string:
    print(ch, end = ":") # default value of end = "\n"

N:e:w: :Y:o:r:k:

In [13]:
# iterating over a dictionary
students_data = {1:['Sam', 24] , 2:['Rob',25], 3:['Jack', 26], 4:['Cornor',24], 5:['Trump',27]}
print(students_data)         # type is dictionary
print(students_data.items()) # type idict_items like list

{1: ['Sam', 24], 2: ['Rob', 25], 3: ['Jack', 26], 4: ['Cornor', 24], 5: ['Trump', 27]}
dict_items([(1, ['Sam', 24]), (2, ['Rob', 25]), (3, ['Jack', 26]), (4, ['Cornor', 24]), (5, ['Trump', 27])])

dict_items

In [14]:
# iterating over a dictionary

students_data = {1:['Sam', 24] , 2:['Rob',25], 3:['Jack', 26], 4:['Cornor',24], 5:['Trump',27]}
for key, val in students_data.items():
    print(key, val)

1 ['Sam', 24]
2 ['Rob', 25]
3 ['Jack', 26]
4 ['Cornor', 24]
5 ['Trump', 27]

In [ ]:
# iterate over keys of a dictionary
for key in students_data.keys():
    print(key)

In [ ]:
# Generate range of values.
range(1, 101)

In [15]:
l = list(range(1,5))
l

[1, 2, 3, 4]

In [20]:
# Iterate over range of values

for i in range(1, 5):
    print(i)
for i in range(1, 5):    
    print(i, end = " ")

1
2
3
4
1 2 3 4

In [23]:
# different variations in range

print(list(range(1, 100, 2) ))# gives numbers from 1 to 100 with a step count of 2
print(list(range(100, 0, -1))) # gives a reversed sequence of numbers from 100 to 1

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

#### Ex. Write a program to print prime numbers between 1 to 20

In [25]:
for n in range(1, 20):
    flag = True
    for i in range(2, n):
        if n % i == 0:
            print(n, "is not prime and divisible by : ", i)
            flag = False
            break   
    if flag :
        print(n , " is prime")

1  is prime
2  is prime
3  is prime
4 is not prime and divisible by :  2
5  is prime
6 is not prime and divisible by :  2
7  is prime
8 is not prime and divisible by :  2
9 is not prime and divisible by :  3
10 is not prime and divisible by :  2
11  is prime
12 is not prime and divisible by :  2
13  is prime
14 is not prime and divisible by :  2
15 is not prime and divisible by :  3
16 is not prime and divisible by :  2
17  is prime
18 is not prime and divisible by :  2
19  is prime

In [30]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3=[]
for  i in range(len(L1)):
    L3.append(L2[i] -L1[i])
L3

[-2, -6, -15, -4, -8]

In [35]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i)

0
1
2

<h2 style = "color:Brown">Comprehensions

In [ ]:
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

l2 = []

for i in l1 :
    l2.append(len(i))
    
l2

[11, 5, 4, 6, 14]

#### The Functional Approach

In [47]:
# Example on list comprehension

l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a list consisting of length of each element from the above list
for i in l1:
 print(i)
l2 = [len(i) for i in l1]

print(l2)

automobiles
Honda
Benz
Suzuki
Morris Garages
[11, 5, 4, 6, 14]

In [ ]:
# iterating over l1 and l2 simultaneously

for i,j in zip(l1,l2):
    print(i, " - ", j)

automobiles  -  11
Honda  -  5
Benz  -  4
Suzuki  -  6
Morris Garages  -  14

#### Dictionary comprehension

In [ ]:
# Example on dictionary comprehension

l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a dictionary consisting of element and length of each element from the above list

d = {i : len(i) for i in l1}

print(d)

{'automobiles': 11, 'Honda': 5, 'Benz': 4, 'Suzuki': 6, 'Morris Garages': 14}

#### Set Comprehensions

#### Ex . Write a program which takes a word as input from user and returns vowels from the word

In [50]:
w='Coconut'
vowels=set()
for char in w:
    if char in 'aeiou':
      vowels.add(char)
print(vowels)

{'u', 'o'}

In [ ]:
word = input("Enter a word : ")
vowels = {i for i in word if i in "aeiou"} # "for i in word" = "char in w:" above : "if i in "aeiou"" is ="if char in 'aeiou':" above and "i" = vowels.add(char)
vowels

Enter a word : aeroplane

{'a', 'e', 'o'}

In [42]:
st='Programming'
print(st[::-1])
print(st[1:-1])

gnimmargorP
rogrammin

In [51]:
input_list = list(range(1,100))
output_dict = {}

for val in input_list:
    if val % 3 == 0:
        output_dict[val] = val**3
print(output_dict)

{3: 27, 6: 216, 9: 729, 12: 1728, 15: 3375, 18: 5832, 21: 9261, 24: 13824, 27: 19683, 30: 27000, 33: 35937, 36: 46656, 39: 59319, 42: 74088, 45: 91125, 48: 110592, 51: 132651, 54: 157464, 57: 185193, 60: 216000, 63: 250047, 66: 287496, 69: 328509, 72: 373248, 75: 421875, 78: 474552, 81: 531441, 84: 592704, 87: 658503, 90: 729000, 93: 804357, 96: 884736, 99: 970299}

In [55]:
input_list = list(range(1,100))
output_dict = {}
output_dict= {val : val**3 for val in input_list if val % 3 == 0} 
print(output_dict)

{3: 27, 6: 216, 9: 729, 12: 1728, 15: 3375, 18: 5832, 21: 9261, 24: 13824, 27: 19683, 30: 27000, 33: 35937, 36: 46656, 39: 59319, 42: 74088, 45: 91125, 48: 110592, 51: 132651, 54: 157464, 57: 185193, 60: 216000, 63: 250047, 66: 287496, 69: 328509, 72: 373248, 75: 421875, 78: 474552, 81: 531441, 84: 592704, 87: 658503, 90: 729000, 93: 804357, 96: 884736, 99: 970299}

In [56]:
print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [57]:
d = {x.upper(): x*3 for x in 'acbd'}
print(d)

{'A': 'aaa', 'C': 'ccc', 'B': 'bbb', 'D': 'ddd'}

In [58]:
n=4
# Generate squares of numbers from 1 to n^2 using list comprehension
squares = [i**2 for i in range(1, n + 1)]

# Print the resulting list
print(squares)

[1, 4, 9, 16]

In [ ]:
#import ast,sys
#input_str = sys.stdin.read()
#input_list = ast.literal_eval(input_str)
input_list = ["wood", "old", "apple", "big", "item", "euphoria"]
list_vowel =[word for word in input_list if word[0].lower() in "aeiou"]

print(list_vowel)

<h2 style = "color:Brown">Functions</h2>

#### Ex. Write a function which takes a value as a parameter and returns its factorial

In [59]:
def factorial(n):
    
    fact = 1
    
    for i in range(1, n+1):
        fact *= i
    
    return fact

factorial(5)

120

In [60]:
factorial(3)

6

In [61]:
def func(x, y = 1):
    z = x * y + x + y
    return z

func(2, func(3))

23

In [63]:
def func(x = 1 ,y = 2):
    z = x * y + x + y
    return z

func(2, func(3))

35

In [64]:
min = (lambda x, y: x if x < y else y)
min(101*99, 102*98)

9996

#### Function Arguments

In [65]:
def func(name, age = 35):  # default parameter
    print("name : ", name)
    print("age : ", age)

In [66]:
func("Jane", 25)

name :  Jane
age :  25

In [67]:
func("Jane")

name :  Jane
age :  35

In [68]:
def func(name, age = 35, city = "New York"):
    print("name : ", name)
    print("age : ", age)
    print("city : ", city)
    
func("Jane", city = "Seattle") # key-word argument

name :  Jane
age :  35
city :  Seattle

In [73]:
def var_func(*args):
    print(args)
var_func(1,3,"abc") # variable-length argument

(1, 3, 'abc')

<h2 style = "color:Brown"> Lambda Function

In [70]:
# Write a lambda function to check a number is even or odd

f = lambda x: "even" if x % 2 == 0 else "odd"

f(10)

'even'

<h2 style = "color:Brown">map - filter - reduce

#### Some more examples on map - filter - reduce

In [74]:
L1 = [2,4,5]
print(map(lambda x: x**2, L1)) # two parts 1> the lambda function and 2> the list on which it will be applied
print(list(map(lambda x: x**2, L1)))

<map object at 0x0000019B98B9B610>
[4, 16, 25]

In [77]:
# breaking the above example
L1 = [2,4,5] 
fp = lambda x: x**2
list(map(fp,L1))

[4, 16, 25]

#### Defining a function and using it in map

In [ ]:
L1 = [2,4,5]
def squareit(n):
    return n**2

print(list(map(squareit, L1)))

[4, 16, 25]

#### Filter function to return the multiples of 3

In [ ]:
# filter uses function which returns boolean 
my_list = [3,4,5,6,7,8,9]

divby3 = lambda x:  x % 3 == 0

div = filter(divby3, my_list) 
print(list(div))

[3, 6, 9]

#### Ex. Write a python program to count the students above age 18

In [78]:
students_data = {1:['Sam', 15] , 2:['Rob',18], 3:['Kyle', 16], 4:['Cornor',19], 5:['Trump',20]}
print(students_data.values())
len(list(filter(lambda x : x[1] > 18, students_data.values())))

dict_values([['Sam', 15], ['Rob', 18], ['Kyle', 16], ['Cornor', 19], ['Trump', 20]])

2

In [83]:
f=lambda x : x[1] > 18
f(['Kyle', 16])
l18 = list(filter(lambda x : x[1] > 18, students_data.values()))
print(l18)
print(len(l18))
filter(lambda x : x[1] > 18, students_data.values())

[['Cornor', 19], ['Trump', 20]]
2

#### Reduce to return product of elements

In [93]:
from functools import reduce

q  = reduce(lambda x, y: x*y, range(1,4))

print(q)

6

In [97]:
l=range(1,5)
f=lambda x,y : x*y , l

In [ ]:
#Using the function Map, count the number of words that start with ‘S’ in input_list.
# Sample input list
input_list = ["Sun", "sky", "moon", "Star", "sand", "Sea", "apple"]

#import ast,sys
#input_str = sys.stdin.read()
#input_list = ast.literal_eval(input_str)

# Using map() to check if words start with 'S'
count = sum(map(lambda word: word.lower().startswith('s'), input_list))


print(count)

In [2]:
#Create a list ‘name’ consisting of the combination of the first name and the second name from list 1 and 2 respectively. 
import ast

# Read input
#input_list = ast.literal_eval(input())
input_list=[ ['Ankur','Avik','Kiran','Nitin'],['Narang','Sarkar','R','Sareen']]

# Extract first names and last names
first_name = input_list[0]
print(first_name)
last_name = input_list[1]
print(last_name)

# Combine first and last names
name = [f"{f} {l}" for f, l in zip(first_name, last_name)]

# Print the result
print(name)

['Ankur', 'Avik', 'Kiran', 'Nitin']
['Narang', 'Sarkar', 'R', 'Sareen']
['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

In [4]:
# Extract a list of numbers that are multiples of 5 from a list of integers named input_list.
my_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
divby3 = lambda x:  x % 5 == 0

div = filter(divby3, my_list) 
print(list(div))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [5]:
#You are given a list of strings such as input_list = ['hdjk', 'salsap', 'sherpa'].
# Extract a list of names that start with an ‘s’ and end with a ‘p’ (both 's' and 'p' are lowercase) in input_list.
input_list=['hdjk', 'salsap', 'sherpa']

# Extract names starting with 's' and ending with 'p'
filtered_names = [name for name in input_list if name.startswith('s') and name.endswith('p')]

# Print result
print(filtered_names)

hdjk
salsap

In [6]:
#Using the Reduce function, concatenate a list of words in input_list, and print the output as a string.
#If input_list = ['I','Love','Python'], the output should be the string 'I Love Python'.
from functools import reduce
input_list = ['I','Love','Python']
# Use reduce to concatenate words with spaces
result = reduce(lambda x, y: x + " " + y, input_list)

# Print result
print(result)

I Love Python

In [7]:
#You are given a list of numbers such as input_list = [31, 63, 76, 89]. Find and print the largest number in input_list using the reduce() function.
from functools import reduce
input_list = [65,76,87,23,12,90,99]

# Use reduce to find the maximum number
largest_number = reduce(lambda x, y: x if x > y else y, input_list)

# Print result
print(largest_number)

99

In [9]:
var = [i**2 for i in range(5)]
print(var)

[0, 1, 4, 9, 16]

In [10]:
l1=[1,2,3,7]
l2=[4,5,6,9]
[x+y for x in l1 for y in l2]

[5, 6, 7, 10, 6, 7, 8, 11, 7, 8, 9, 12, 11, 12, 13, 16]

In [11]:
def function(n):
  n=n+1
  # not returning
n=2
print(function(2))

None

In [12]:
f=lambda x:bool(x%2)
print(f(100)* f(101))

0

In [13]:
input_string = "I love Python"
k = [(i.upper(), len(i)) for i in input_string.split(' ')]
print(k)

[('I', 1), ('LOVE', 4), ('PYTHON', 6)]

In [14]:
var = [i**2 for i in range(5)]
print(var)

[0, 1, 4, 9, 16]

In [15]:
l1=[1,2,3,7]
l2=[4,5,6,9]
[x+y for x in l1 for y in l2]

[5, 6, 7, 10, 6, 7, 8, 11, 7, 8, 9, 12, 11, 12, 13, 16]

In [16]:
l=(1, -2, -3, 4, 5)
def f1(x):
    return x//2
m1=map(f1, l)
print(list(m1))

[0, -1, -2, 2, 2]

In [17]:
from functools import reduce
numbers = [-1, 2, -5, 3, 8,-2, 1,-4,-2]
sum = reduce(lambda x, y: x + y, numbers)
print(sum)

0

In [18]:
sample=[-4,2,5,-3]
ans=map(lambda x: x*2, sample)
print(ans)

<map object at 0x0000024F90441AB0>

In [22]:
import functools
lis=[1, 2, 3, 4, 5]
m=functools.reduce(lambda x, y:x if x<y else y, lis)
print(m)

2

In [21]:
lis=[1, 2, 3, 4, 5]
c=lis[0]
for i in range(len(lis)-1):
    if lis[i]<c:
       c=lis[i]

print(c)

1

In [23]:
letters = ('d','i','a','s')
ans = list(map(lambda word: f"{word}x", letters))
print(ans)

['dx', 'ix', 'ax', 'sx']

In [24]:
def sf(a):
    return a%4==0 and a%8!=0
m=filter(sf, range(10, 31))
print(list(m))

[12, 20, 28]

In [25]:
# Input: A list of integers
input_list = list(map(int, input("Enter numbers separated by spaces: ").split()))

# Using lambda and filter to extract even numbers
even_numbers = list(filter(lambda x: x % 2 == 0, input_list))

# Output: A list of even numbers
print(even_numbers)

Enter numbers separated by spaces:  asda segf fd

ValueError: invalid literal for int() with base 10: 'asda'

In [26]:
#A company stores the names of their employees in a list. They want to encrypt the names so that no one can read them and the data stays safe. One of the steps in encrypting is to reverse each name in the list and convert them to uppercase and your task is to write a Python code to execute the same.
# Using lambda and map to reverse and convert to uppercase
input_list=['Ronaldo', 'Cristiano', 'Rakesh', 'Ronak']
encrypted_names = list(map(lambda name: name[::-1].upper(), input_list))

# Output the encrypted names
print(encrypted_names)

['ODLANOR', 'ONAITSIRC', 'HSEKAR', 'KANOR']

In [30]:
 input_lists= [['Arkam', 'Bairstow', 'Cairy', 'Darpan'] ,
['ARKAM', 'Bairstow', 'Cairy', 'Darpan', 'Dhoni', 'Sachin'],
['arkam', 'bairstow', 'Cheteshwar', 'Dinesh']]
# Extract three lists from input
# Convert all names to lowercase before creating sets
round1 = {name.lower() for name in input_lists[0]}
round2 = {name.lower() for name in input_lists[1]}
round3 = {name.lower() for name in input_lists[2]}

# Find students who passed all three rounds
selected_students = sorted(round1 & round2 & round3)

# Print the final list
print(selected_students)

['arkam', 'bairstow']

In [ ]:
import ast

#read the input here.
input_lst = input()
round_1 = ast.literal_eval(input_lst )

#read the input here.
input_lst = input()
round_2= ast.literal_eval(input_lst )

#read the input here.
input_lst = input()
round_3= ast.literal_eval(input_lst )



def interSection(list1,list2): 

    #convert all the names to lowercase so that casing does not become a problem.

    list1 = list(map(lambda name: name.lower(), list1))
    list2 = list(map(lambda name: name.lower(), list2))

    #use the filter function as the final list  is a subset.
    #check for values that are present in both list1 and list2.

    result = list(filter(lambda x: x in list1, list2))
    return result


intersection_round1_round2 = interSection(round_1,round_2)

final_result = interSection(intersection_round1_round2,round_3)

print(final_result)

In [ ]:
import ast, sys

# Read input from standard input
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)

# Sort the list based on the length of dictionaries in descending order
sorted_list = sorted(input_list, key=lambda x: len(x), reverse=True)

# Print the final sorted list
print(sorted_list)

In [ ]:
import ast, sys

# Read input from standard input
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)

# Sort based on rank first, then by name alphabetically if ranks are the same
sorted_list = sorted(input_list, key=lambda x: (x["rank"], x["name"]))

# Print the sorted list
print(sorted_list)